* {
  padding: 0;
  margin: 0;
}

.watch-and-a-w-studio-sec {
  display: flex;
  justify-content: space-between;
  padding-top: 0.9%;
  height: 580px;
}

.watch,
.a-w-studio {
  background-color: rgb(247, 247, 247);
  width: 49.55%;
  padding-top: 54px;
}

.watch {
  background-image: url(../images/home/watch-series-5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.watch-wrapper,
.a-w-studio-wrapper {
  text-align: center;
}

.watch-wrapper img {
  /* width: 250px; */
  font-size: 40px;
  font-weight: bold;
}

.a-w-studio-wrapper h2 {
  font-size: 40px;
  font-weight: 700;
}

.watch-wrapper .description,
.a-w-studio-wrapper #subhead {
  font-size: 20px;
  /* margin-top: 10px; */
}

/* .watch-wrapper #subhead-2 {
  font-size: 30px;
} */

/* .learnMore {
  margin: 15px auto 20px;
}

.lm {
  margin-right: 20px;
  padding-left: 10px;
}

.buy {
  margin-left: 20px;
}

.learnMore a {
  font-size: 27.25px;
  color: rgb(56, 199, 247);
  text-decoration: none;
} */
